<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/mvc
  http://www.springframework.org/schema/mvc/spring-mvc.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/aop   
  http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"> 

    <!-- Bean definitions go here -->
    <bean id="dvdRentalDao" class="com.swcguild.dvdrentalstore.dao.DvdRentalDaoImpl"/>
    <bean id="accountDao" class="com.swcguild.dvdrentalstore.dao.AccountDaoImpl"/>
    <bean id="txnDao" class="com.swcguild.dvdrentalstore.dao.TransactionDaoImpl"/>
    
    <bean id="cmpFeeUtil" class="com.swcguild.dvdrentalstore.dao.ComputeFeeUtilityImpl"/>    
    <bean id="consoleIO" class="com.swcguild.dvdrentalstore.ui.ConsoleIOImpl"/>    
    
    <bean id="dvdRentalServiceLayer" class="com.swcguild.dvdrentalstore.dao.DvdRentalServiceLayerImpl">
        <property name="Mode" value="PROD"/>
        <property name="DvdRentalDao" ref="dvdRentalDao"/>
        <property name="AccountDao" ref="accountDao"/>
        <property name="TxnDao" ref="txnDao"/>
        <property name="ComputeFeeUtil" ref="cmpFeeUtil"/>
    </bean>
    
    <bean id="dvdRentalController" class="com.swcguild.dvdrentalstore.ui.DvdRentalController">
        <property name="DvdRentalSvcLayer" ref="dvdRentalServiceLayer"/> 
        <property name="cIO" ref="consoleIO"/>
    </bean>
    
</beans>